& {
    font-size: 1.125rem;
    line-height: 1.777;
    color: #334155;// --tw-prose-body
}


h1 {
    font-size: 2.666em;
    margin-top: 0;
    margin-bottom: 0.833em;
    line-height: 1;
}

h1 {
    color: #0f172a; // --tw-prose-headings
    font-weight: 800;
}

h2 {
    font-size: 1.666em;
    margin-top: 1.866em;
    margin-bottom: 1.066em;
    line-height: 1.333;
}

h2 {
    color: #0f172a; // --tw-prose-headings
    font-weight: 700;
}

h3 {
    font-size: 1.333em;
    margin-top: 1.666em;
    margin-bottom: 0.666em;
}

h3 {
    color: #0f172a; // --tw-prose-headings
    font-weight: 600;
}

p {
    margin-top: 1.333em;
    margin-bottom: 1.333em;
}

a {
    color: #0f172a; // --tw-prose-links
    text-decoration: none;
    font-weight: 500;
}

blockquote {
    margin-top: 1.666em;
    margin-bottom: 1.666em;
    padding-left: 1em;
}

blockquote {
    font-weight: 500;
    font-style: italic;
    color: #0f172a; // --tw-prose-quotes
    border-left-width: 0.25rem;
    border-left-color: #e2e8f0; // --tw-prose-quote-borders
    quotes: "\201C""\201D""\2018""\2019";
}

ol, ul {
    margin-top: 1.333em;
    margin-bottom: 1.333em;
    padding-left: 1.555em;

    li {
        padding-left: 0.444em;
    }
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

li {
    margin-top: 0.666em;
    margin-bottom: 0.666em;
}

strong {
    color: #0f172a; // --tw-prose-bold
    font-weight: 600;
}

img {
    margin-top: 1.777em;
    margin-bottom: 1.777em;
}


